<!DOCTYPE html>
<html lang="zh-tw">
<head>
<title>D-Day</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- CSS files start -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/login.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files start -->
</head>
<body>
  <span class="root col-md-8 col-md-offset-2">
    <main>
      <article>
        <div class="main_pic rootL col-md-6" align="center">
          <img src="../static/images/main.png">
        </div>
        <div class="rootLR col-md-6" align="center">
          <h1>D.Day</h1>
          <h3>- Dat Day we met -</h3>
          <!--registration form-->
          <div id="registration_form">
            <form>
              <div class="fb_button"><a href="javascript: fb_login();">使用 Facebook 帳號登入</a></div>
              <div id="status"></div>
                  
              <div></br><div>或</div></br></div>
                  
              <div class="input_area">
                <div>
                  <input type="text" class="form-control" aria-describedby="" aria-label="手機號碼或電子郵件" aria-required="true" autocapitalize="off" autocorrect="off" name="emailOrPhone" placeholder="手機號碼或電子郵件" value=""/>
                </div>
                    
                <div>
                  <input type="text" class="form-control" aria-describedby="" aria-label="全名" aria-required="false" autocapitalize="sentences" autocorrect="off" name="fullName" placeholder="全名" value=""/>
                </div>
                    
                <div>
                  <input type="text" class="form-control" aria-describedby="" aria-label="用戶名稱" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="用戶名稱" value=""/>
                </div>
                    
                <div>
                  <input type="password" class="form-control" aria-describedby="" aria-label="密碼" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="密碼" value=""/>
                </div>
              </div>
                  
              <div class="login_button">
                  <a href="">繼續</a>
              </div>
                  
              <p class="_rpioj">一旦註冊，即表示你同意我們的<a class="_m4qul" href="/legal/terms/" target="_blank">使用條款</a>即<a class="_m4qul" href="/legal/privacy/" target="_blank">隱私政策</a></p>
            </form>
            <div>
              <p>已有帳號嗎？<a class="_fcn8k" href="javascript: show_login_form();">登入</a></p>
            </div>
          </div>

          <!--login form-->
          <div id="login_form">
            <form>
              <div class="input_area">
                <div>
                  <input type="text" class="form-control" aria-describedby="" aria-label="用戶名稱" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="用戶名稱" value=""/>
                </div>
                    
                <div>
                  <input type="password" class="form-control" aria-describedby="" aria-label="密碼" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="密碼" value=""/>
                </div>
              </div>
                  
              <div class="login_button">
                  <a href="">登入</a>
              </div>
            </form>
            <div>
              <p>沒有帳號嗎？<a class="_fcn8k" href="javascript: show_registration_form();">註冊</a></p>
            </div>
          </div>
        </div>
      </article>    
    </main>
    <footer class="root col-md-12" role="contentinfo">
    
    </footer>
  </span>
</body>

<!-- JavaScript files start -->
<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
<script>
function show_login_form(){
  $('#registration_form').hide();
  $('#login_form').show();
}
function show_registration_form(){
  $('#login_form').hide();
  $('#registration_form').show();
}
</script>
</html>