<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>D-Day</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
</head>
	
<body>
<!-- header -->
	{% include 'header.html' %}
<!-- //header -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-6 col-md-offset-3 diary_full">
				<div id="diary_title"></div>
				<div id="diary_info">
					<img src="" id="author_img"/>
					<div id="author" class="author"></div>
					<div id="diary_date"></div>
				</div>
				<div id="diary_content">
				</div>
				<div class="similar_btn"><a href="" id="similar">Similar Diary</a></div>
				<hr/>
				<div id="full_comment" class="full_comment">
				</div>
				<hr/>
				<div class="write_comment">
					<div style="color: #f9d780">Leave Comment...</div>
					<textarea name="user_comment" class="textarea-design" rows="10" style="resize: none;"></textarea>
					<div class="comment_button"><a href="javascript: makeComment();">Submit</a></div>
				</div>
			</div>
		</div>
	</div>

<!--footer-->
	{% include 'footer.html' %}
<!--//footer-->	

<!-- for bootstrap working -->
<script src="../static/js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
<script src="../static/js/personal_diary.js"></script>
<script src="../static/js/jquery.url.js"></script>
<script type="text/javascript">
$(function() {
	full_diary();
});
</script>
</body>
</html>