<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>D-Day</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<!-- js -->
<script src="../static/ckeditor/ckeditor.js"></script>
<!-- //js -->

<script>
var place;

google.maps.event.addDomListener(window, 'load', function () {
    var places = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
    google.maps.event.addListener(places, 'place_changed', function () {
        place = places.getPlace();

        console.log(place);
    });
});

function create_diary(){
	var title = $("input[name=diary_title]").val();
	var location = place.name;
	var address = place.formatted_address;
	var latitude = place.geometry.location.lat();
	var longitude = place.geometry.location.lng();
	// var mesg = "Name: " + location;
	// mesg += "\nAddress: " + address;
 //    mesg += "\nLatitude: " + latitude;
 //    mesg += "\nLongitude: " + longitude;
 //    alert(mesg);
	var category = $("#diary_category").find(":selected").val();
	var permission = $('input[name="authority"]:checked').val();
	var content = CKEDITOR.instances['diary_content'].getData();

	$.ajax({
		url: '/diary/api/v1/create',
      	data:JSON.stringify({
        	title: title,
		 	location: location,
		 	address: address,
		 	latitude: latitude,
		 	longitude: longitude,
		 	category: category,
		 	permission: permission,
		 	content: content
      	}),
      	type:'POST',
      	contentType:"application/json",
      	datatype:'application/json',
      	success:function(response){
        	window.location = "/personal";
      	},
      	error:function(error){
        	console.log(error);
      	}
	});
}
</script>
<style>
#cke_diary_content{
	margin-top: 0px !important;
}
</style>
</head>
	
<body>
<!-- header -->
	{% include 'header.html' %}

<!-- //header -->
	<div class="banner-bottom">
		<div class="container">
			<h3>CREATE YOUR DIARY</h3>
			<div class="col-md-6 col-md-offset-3 diary_input">
				<div>
					<img src="../static/images/tag.svg"/>
					<input type="text" class="form-design" name="diary_title" placeholder="Diary title"/>
				</div>
				<div>
					<img src="../static/images/location.svg"/>
					<input type="text" id="autocomplete" class="form-design" name="diary_location" placeholder="Search location"/>
				</div>
				<div>
					<img src="../static/images/category.svg"/>
					<select id="diary_category" class="form-design">
						<option value="" disabled selected style="display: none;"></option>
						<option value="Complain and Crap">Complain and Crap</option>
						<option value="Daily Philosophy">Daily Philosophy</option>
						<option value="Anxiety and Tiredness">Anxiety and Tiredness</option>
						<option value="Optimism and Hope">Optimism and Hope</option>
						<option value="Joy and Blessing">Joy and Blessing</option>
						<option value="Miss and Regret">Miss and Regret</option>
						<option value="Fortitutde and Good night">Fortitutde and Good night</option>
						<option value="Idling and Life">Idling and Life</option>
					</select>
				</div>
				<div style="color:#000;">
					<img src="../static/images/lock.svg"/>
					<input type="radio" name="authority" value="public"/> Public&nbsp;&nbsp;&nbsp;
					<input type="radio" name="authority" value="friends"/> Only friends&nbsp;&nbsp;&nbsp;
					<input type="radio" name="authority" value="private"/> Only you 
				</div>
				<div>
					<img src="../static/images/pencil.svg">Content
					<form> 
						<textarea name="diary_content" id="diary_content" rows="15"></textarea>
			            <script>
			          		CKEDITOR.replace('diary_content', {
							    //輸入客製化條
								
							});
			            </script>
			        </form>
				</div>
				<div class="diary_button"><a href="javascript: create_diary();">Submit</a></div>
			</div>
		</div>
	</div>

<!--footer-->
	{% include 'footer.html' %}
<!--//footer-->	

</body>
</html>
