<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="index.html">D.Day</a></h4>
					<p><a href="mailto:info@example.com">twnoken@gmail.com</a></p>
					<p>0916-860-030</p>
					<ul class="social-icons">
						<li><a href="#" class="facebook"><img src="../static/images/fb.png" class="social-icons-size"></a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="codes.html">Short Codes</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="gallery.html">Photo Gallery</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids">	
					<h3>Finding the love in the spectrum</h3>
					<form>					 
					    <input type="text" class="text" value="GIVE US EMAIL TO LET US UNDERSTAND YOU" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">					 
				 </form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">		
			<p>Copyright © 2017 D.Day. All rights reserved | Design by <a href="http://w3layouts.com">IDEA LAB</a></p>					
		</div>
	</div>
<!--//footer-->	