<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
<script src="../static/js/bootstrap.js"> </script>
<!-- css -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/addition.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&sensor=false&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).on('click', '.logout', function() {
			window.location.href = "http://140.114.77.15:5000/logout";
		});
</script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<div class="header">
		<!-- Search
		<div class="search">
			<form>
				<i class="glyphicon glyphicon-search" aria-hidden="true"></i><input type="text" value="Search Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here';}" required="">
			</form>
		</div>
		-->
		<div class="logo">
			<a href="index.html">。D.Day。 <span>A Dating For You</span></a>
		</div>
		<div class="logo-right">
			<ul>
				<li class="dropdown">
					<a class="profile-select" cursor="pointer"><img class="user_icon" src="../static/images/co.png"/><span>▾</span></a>
					<div class="dropdown-content">
						<a href="profile">My Profile</a>
						<a href="personal">My Diary</a>
						<a href="my_friends">My Friends</a>
					    <a href="#" class="logout" >Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="header-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1">
						<ul class="nav navbar-nav">
							<li><a href="friends">Spectrum</a></li>
							<li><a href="index">Recommend</a></li>
							<li><a href="create_diary">Create Diary</a></li>
							<li><a href="search">Nearby</a></li>
						</ul>
					</nav>
				</div><!-- /.navbar-collapse -->	
			</nav>
		</div>
	</div>