<!DOCTYPE html>
<html lang="zh-tw">
<head>
<title>D-Day</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- CSS files start -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/login.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files start -->
</head>
<body>
  <span class="root col-md-8 col-md-offset-2">
    <main>
      <article>
        <div class="row-height">
          <div class="main_pic rootL col-md-6 col-height" align="center">
            <img src="../static/images/main.png">
          </div>
          <div class="col-md-6  col-height" align="center">
            <div class="rootLR">
              <h1>。D.Day。</h1>
              <h3 style="color: #999;">- Dat Day we met -</h3>
              <!--registration form-->
              <div id="registration_form">
                <form>
                  <div class="fb_button"><a href="javascript: fb_login();">Login with Facebook</a></div>
                  <p class="_rpioj">Once login, you agree to our <a class="_m4qul" href="/legal/terms/" target="_blank">Terms of Use </a>ie <a class="_m4qul" href="/legal/privacy/" target="_blank">Privacy Policy</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
    <footer class="root col-md-12" role="contentinfo">

    </footer>
  </span>
</body>

<!-- JavaScript files start -->
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
</html>
