<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>D-Day</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<link href="/static/css/my_friends.css" rel="stylesheet" type="text/css" media="all" />

</head>


<body>
<!-- header -->
	{% include 'header.html' %}
<!-- container -->
	<div class="banner-bottom">
		<div class="container">
			<div class="all_friends">


			</div>
		</div>
	</div>

<!-- footer -->
	{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
	$(function() {

		var each_friend = "<div class='each_friend'><img class='profile_img' src='";
		var each_friend_2 = "'><div class='profile_detail'><div class='name'>";
		var each_friend_3 = "</div><div class='nick_name'>";
		var each_friend_4 = "</div><div class='gender'>";
		var each_friend_5 = "</div></div></div>";
		var currentURL = window.location;
        $.ajax({
	        url: 'http://140.114.77.15:'+currentURL.port+'/member/api/v1/friends/me',
	        success: function(response) {
	            result = response;
	            for (var i = result.length - 1; i >= 0; i--) {
	            	var combine = each_friend+result[i]['portrait']+each_friend_2+result[i]['name']+each_friend_3+result[i]['nickname']+each_friend_4+result[i]['gender']+each_friend_5;
	            	$(".all_friends").append(combine);
	            }
	        },
	        error: function (jqXHR, exception) {
	        	alert("fail");
	        }
	    });
		//window.location.href = "http://140.114.77.15:5050/login";
    });
</script>

</body>
</html>
