<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>D-Day</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
</head>
	
<body>
<!-- header -->
	{% include 'header.html' %}
<!-- //header -->
	<div class="banner-bottom">
		<div class="container">
			<h3>Profile</h3>
			<div class="col-md-6 col-md-offset-3 portrait">
				<img src="" id="profile_image" class="profile_image">
			</div>
			<div class="col-md-6 col-md-offset-3 diary_input profile_look">
				<div>
					<img src="../static/images/face.svg"/>
					<span id="owner_name"></span>
				</div>
				<div>
					<img src="../static/images/gender.svg"/>
					<span id="owner_gender"></span>
				</div>
				<div>
					<img src="../static/images/birthday.svg"/>
					<span id="owner_birthday"></span>
				</div>
				<div>
					<img src="../static/images/footprint.svg"/>
					<span id="owner_height"></span>
				</div>
				<div>
					<img src="../static/images/weight.svg"/>
					<span id="owner_weight"></span>
				</div>
				<div>
					<img src="../static/images/location.svg"/>
					<span id="owner_residence"></span>
				</div>
				<div>
					<img src="../static/images/email.svg"/>
					<span id="owner_email"></span>
				</div>
				<div>
					<img src="../static/images/heart.svg"/>
					<span id="owner_interest"></span>
				</div>
				<div class="diary_button"><a href="" id="sendRequest"></a></div>
			</div>
		</div>
	</div>

<!--footer-->
	{% include 'footer.html' %}
<!--//footer-->	

<script src="../static/js/jquery.url.js"></script>
<script text="javascript">
var currentURL = window.location;
var id = $.url.param('id');
$(function() {

	$.ajax({
        type:'GET',
        url: 'http://140.114.77.15:'+currentURL.port+'/member/api/v1/profile?other_id='+id,
        success:function(response){
            result = response;
            var friendship = result[0]['friendship'];
            var gender = result[0]['owner']['gender'];
            var name = result[0]['owner']['name'];
            var portrait = result[0]['owner']['portrait'];
            var birthday = result[0]['owner']['birthday'];
            var height = result[0]['owner']['height'];
            var weight = result[0]['owner']['weight'];
            var residence = result[0]['owner']['residence'];
            var email = result[0]['owner']['email'];
            var interest = result[0]['owner']['interest'];

            if(birthday==null){
            	birthday = "secret";
            }
            if(height==null){
            	height = "secret";
            }
            if(weight==null){
            	weight = "secret";
            }
            if(residence==null){
            	residence = "secret";
            }
            if(email==null){
            	email = "secret";
            }
            if(interest==null){
            	interest = "secret";
            }

            $('#profile_image').attr('src', portrait);
            $('#owner_name').append(name);
            $('#owner_gender').append(gender);
            $('#owner_birthday').append(birthday);
           	$('#owner_height').append(height);
           	$('#owner_weight').append(weight);
           	$('#owner_residence').append(residence);
           	$('#owner_email').append(email);
           	$('#owner_interest').append(interest);

            if(friendship == true){
            	$('#sendRequest').text("Unfriend");
            	$('#sendRequest').attr('href','javascript: unfriend();');
            }
            else{
            	$('#sendRequest').text("Add Friend");
            	$('#sendRequest').attr('href','javascript: addFriend();');
            }
        },   
        error:function(error){
            console.log(error);
        }
    });
});
function unfriend(){
	
	$.ajax({
		url: 'http://140.114.77.15:'+currentURL.port+'/member/api/v1/unfriend?other_id='+id,
      	type:'DELETE',
      	contentType:"application/json",
      	datatype:'application/json',
      	success:function(response){
        	$('#sendRequest').text("Add Friend");
            $('#sendRequest').attr('href','javascript: addFriend();');
      	},
      	error:function(error){
        	console.log(error);
      	}
	});
}
function addFriend(){
	
	$.ajax({
		url: 'http://140.114.77.15:'+currentURL.port+'/member/api/v1/befriend?other_id='+id,
      	type:'POST',
      	contentType:"application/json",
      	datatype:'application/json',
      	success:function(response){
        	$('#sendRequest').text("Unfriend");
            $('#sendRequest').attr('href','javascript: unfriend();');
      	},
      	error:function(error){
        	console.log(error);
      	}
	});
}
</script>
</body>
</html>