<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>D-Day</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/swipe.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../static/js/bootstrap-tagsinput.js"></script>
<!-- //js -->
</head>
<style>
div#map,
#map div {
	overflow: visible;
}
#map,
#map {
    margin-left: 10px;
    margin-right: 10px;
}
@media print {
    #map,
    #map {
      	height: 500px;
    }
}
#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
</style>
<body>
<!-- header -->
	{% include 'header.html' %}

<!-- //header -->
	<div class="banner-bottom">
		<div class="container" style="margin:auto;">
			<div id="search_slide">
		    	<ul>
			    	<li class="li_item li_active"><a class="slide_button slide_active" href="#slide_one">Nearby People</a></li>
			    	<li class="li_item"><a class="slide_button" href="#slide_two">Nearby Diary</a></li>
			    </ul>
			</div>
			<div class="pageWrapper">
				<div id="pageContentWrapper"  class="pageContentWrapper" style="margin-top:60px;">
					<div id="slide_one" class="slide_content slide active">
						<div class="nearby_people">
						</div>
					</div>
					<div id="slide_two" class="slide_content slide">
				        <div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--footer-->
	{% include 'footer.html' %}
<!--//footer-->

<script type="text/javascript" src="../static/js/jquery.event.move.js"></script>
<script type="text/javascript" src="../static/js/jquery.event.swipe.js"></script>
<script type="text/javascript" src="../static/js/map.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk0JEB7fE7mfrJElO94XecjbzXUnlTLgc&callback=getusergeo"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="../static/js/markerclusterer.js"></script>
<script type="text/javascript">
$(function() {
	var w_height = screen.height;
	var height = w_height-180;
	$("#map").height(height+"px");
});

(function(jQuery, undefined) {
	jQuery(document).ready(function() {
		var wrap = jQuery('.pageContentWrapper'),
		    slides = wrap.find('.slide_content'),
		    active = slides.filter('.active'),
		    nav_item = jQuery('.li_item'),
		    buttons = jQuery('.slide_button'),
		    dynamic = jQuery('#dynamic_slide'),
		    i = slides.index(active),
		    width = wrap.width();

		// Listen for swipe events on slides, and use a custom 'activate'
		// event to add and remove the class 'active' to the previous
		// or next slide, and to keep the index up-to-date. The class
		// 'active' uses CSS transitions to make the slide move.

		slides

		/*.on('swipeleft', function(e) {
			if (i === slides.length - 1) { return; }
			slides.eq(i + 1).trigger('activate');
		})

		.on('swiperight', function(e) {
			if (i === 0) { return; }
			slides.eq(i - 1).trigger('activate');
		})*/

		.on('activate', function(e) {
			slides.eq(i).removeClass('active');
			nav_item.eq(i).removeClass('li_active');
			buttons.eq(i).removeClass('slide_active');

			jQuery(e.target).addClass('active');

			// Update the active slide index
			i = slides.index(e.target);

			// select active class for slide button
			buttons.eq(i).addClass('slide_active');
			nav_item.eq(i).addClass('li_active');
			$('html, body').scrollTop(0);
		});

		jQuery(document)
		.on('click', '.slide_button', function(e) {
			var href = e.currentTarget.hash;

			jQuery(href).trigger('activate');

			e.preventDefault();
		});
	});
})(jQuery);

</script>
</body>
</html>
