html, body{
    font-size: 100%;
	background-color: #F5F5F5 !important;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Josefin Sans', sans-serif;
}
main{
  margin-top: 40px;
}
p{
  margin-top: 10px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer{
  padding-top: 20px;
}
.rootL img{
  width: 90%;
}
.rootLR{
  border: solid 1px #DCDCDC;
  background-color: #FFFFFF;
}
.fb_button{
	margin-top: 30px;
}
.fb_button a{
	background-color: #3b5998;
	padding: 10px 10px 10px 10px;
	color: #ffffff;
	text-decoration: none;
}
.login_button{
	margin-top: 20px !important;
	width: 200px;
	background-color: #3b5998;
	padding: 6px 10px 6px 10px;
}
.login_button a{
	color: #ffffff;
	text-decoration: none;
}
.input_area{
	width: 250px;
}
#login_form{
	display: none;
}
input{
  margin-top: 5px !important;
}

@media (max-width: 874px){
	.main_pic {
	    display: none;
	}
	main{
  		margin-top: 0px;
	}
}