.category{
	width: 80%;
	margin-left: 10%;
}
.category_item{
	width: 17.5%;
	padding: 5px;
	margin-left: 2%;
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	border-radius: 10px;
	background-color:;
	border: solid 1px silver;
}
.category_item:hover{
	background-color: #CCDDFF;
	border: solid 0px;
}

.all_diary{
	width: 80%;
	margin-top: 30px;
	margin-left: 10%;
	float: left;
}
.each_diary{
	width: 48%;
	padding: 8px;
	padding-top: 13px;
	margin-left: 1.5%;
	margin-bottom: 30px;
	float: left;
	border: solid 1px #E6E6FA;
}
.each_diary:hover{
	background-color: 	#E6E6FA;
	border: solid 1px #E6E6FA;
	border-left: black solid 1px;
}
.user_intro{
	width: 100%;
	float: left;
}
.user_intro img{
	width: 60px;
	float: left;
}

.user_intro_detail{
	min-width: 300px;
	margin-left: 18px;
	float: left;
}

.user_name{
	width: 100%;
}

.user_location{
	width: 100%;
}
.user_location_icon{
	margin-top: 10px;
	width: 22px !important;
	float: left;
}
.user_location{
	width: auto;
	margin-top: 10px !important;
	float: left !important;
	margin-left: 10px;
}

.content{
	width: 100%;
	margin-top: 15px;
	float: left;
	padding-bottom: 10px;
	overflow-y: hidden;
}

.content_title{
	width: 100%;
	float: left;
	padding-bottom: 12px;
}
.content_detail{
	width: 100%;
	margin-top: 30px;
	max-height: 50px;
}
.cate{
	padding: 3px;
	margin-top: 0px;
	width: 220px;
	font-size: 15px;
	color: white;
	border-radius: 11px;
	background-color: #33CCFF;
}
