html, body{
    font-size: 100%;
	background-color: #F5F5F5 !important;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Josefin Sans', sans-serif;
}
main{
	margin-top: 40px;
}
p{
	margin-top: 10px !important;
	padding-top: 15px;
	padding-bottom: 15px;
}
footer{
	padding-top: 20px;
}
.row-height {
	display: flex;
	align-items: center;
}
.rootL img{
	width: 80%
}
.rootLR{
	border: solid 1px #DCDCDC;
	background-color: #FFFFFF;
	padding: 20px 0 20px 0;
}
.fb_button{
	margin-top: 30px;
	width: 200px;
	background-color: #66D5DE;
	padding: 6px 10px 6px 10px;
}
.fb_button a{
	color: #ffffff;
	text-decoration: none;
}
.login_button{
	margin-top: 20px !important;
	width: 200px;
	background-color: #66D5DE;
	padding: 6px 10px 6px 10px;
}
.login_button a{
	color: #ffffff;
	text-decoration: none;
}
.login_input{
	width: 250px;
}
input{
  margin-top: 5px !important;
}

@media (max-width: 874px){
	.main_pic {
	    display: none;
	}
	main{
  		margin-top: 0px;
	}
}