.all_friends{
	width: 80%;
	margin-top: 10px;
	margin-left: 10%;
	float: left;
}
.each_friend{
	width:20%;
	margin-left: 4%;
	margin-top: 22px;
	border: solid 1px silver;
	float: left;
}
.profile_img{
	width:100%;
}
.profile_detail{
	padding: 5px;
}